<div class="container" mat-dialog-content>
    <div class="row" *ngFor="let eaResp of infoArr">
        <div class="col-12">
            <div class="row">
                <h3>{{eaResp.txt}}</h3>
            </div>
            <div class="row">
                <p>
                    {{eaResp.resp}}
                </p>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>
        Seguir editando
    </button>

    <button mat-button>
        Continuar
    </button>

</div>